<div class="bg-dark p-5 d-flex justify-content-around text-white">
    <div>
        <h5>Get in Touch</h5>
        <h6>01212592969</h6>
        <h6>ramimenasa@gmail.com</h6>
    </div>
    <div>
        <a class="btn btn-outline-light btn-lg" target="_blank" href="./../../assets/Ramy_Menassa.pdf" download
        role="button">Download My Cv</a>

    </div>
    <div>
        <fa-icon  [icon]="home"> </fa-icon>
        <fa-icon  [icon]="message"></fa-icon>
        <fa-icon  [icon]="check"></fa-icon>
        <fa-icon  icon="facebook"></fa-icon>



        <h5>  😂   😅   🥰</h5>
        <h5>copyright@2022TB</h5>


    </div>

</div>