<div class="container">
<div class="row p-5 col-12">
    <div class="col-3 ">
        <h1>About ME </h1>
    </div>
    <div class="col-9">
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat pariatur vitae at eius nihil ipsa dolor ducimus impedit consequatur placeat dolores culpa sed architecto iusto et libero minus, voluptatem, aliquid facere enim accusantium tenetur, blanditiis corporis aperiam! Vero iure itaque distinctio aspernatur pariatur veritatis eveniet nesciunt, ullam quia ad molestiae sequi a maxime iste voluptatibus reprehenderit harum temporibus in quaerat corrupti quae minus? Porro, accusantium quibusdam fugiat corrupti facilis iure vero. Mollitia dolore odit dolores magni ullam nulla quos neque nihil totam, earum quasi nesciunt dolor sit architecto iure asperiores nobis iste eveniet consequuntur voluptas sint enim! Dolores, repudiandae soluta.</P>
        <a class="btn btn-outline-dark btn-lg" target="_blank" href="/src/assets/Ramy_Menassa.pdf" download
        role="button">Download My Cv</a>
    </div>
</div> 

</div>