<!-- Hero -->
<div class="text-center bg-image background" >
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 400px;">
    <div class="d-flex ps-5 align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 ">Rami Menassa</h1>
        <h4 class="mb-3">Web Developer & Desginer</h4>
        <a class="btn btn-outline-light btn-lg" target="_blank" href="./../../assets/Ramy_Menassa.pdf" download
        role="button">Download My Cv</a>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->