<div class="bg-dark p-5 ">
    <div class="container">
        <div class=" text-center text-light d-flex flex-column align-items-center">
            <h1 class="" >Skills</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum deserunt obcaecati sint ipsam, molestias natus accusamus laudantium placeat animi minus voluptate. Facilis, est modi impedit, praesentium quaerat autem vitae tempore corrupti perspiciatis sint odit iusto?</p>
        </div>
        <div class="row col-12 text-light">
            <div class="col-lg-4 p-5 text-center">
                <h3 class="pt-5">MY FOCUS</h3>
                <hr>
                <h4 class="p-2"> UX/UI Design</h4>
                <h4 class="p-2"> Responsive Design</h4>
                <h4 class="p-2"> Web Design</h4>
                <h4 class="p-2"> Mobile App Design</h4>
            </div>
            <div class="col-lg-8 p-5 " >
                <p class="p-2"> <ngb-progressbar type="success" [value]="98">HTML</ngb-progressbar></p>
                <p class="p-2"> <ngb-progressbar type="info" [value]="90">CSS</ngb-progressbar></p>
                <p class="p-2"> <ngb-progressbar type="secondary" [value]="85">JAVA SCRIPT</ngb-progressbar></p>
                <p class="p-2"> <ngb-progressbar type="danger" [value]="95">BOOTSTRAB</ngb-progressbar></p>
                <p class="p-2"> <ngb-progressbar type="warning" [value]="75">ANGULAR</ngb-progressbar></p>
                <p class="p-2"> <ngb-progressbar type="secondary" [value]="85">ADOBE</ngb-progressbar></p>
                <p class="p-2"> <ngb-progressbar type="danger" [value]="95">PHOTOSHOP</ngb-progressbar></p>
                <p class="p-2"> <ngb-progressbar type="success" [value]="75">WORDPRESS</ngb-progressbar></p>




            </div>
        </div>       
    </div>
</div>