<div class="container">
    <h1 class="p-5 ps-1">PORTFOLIO</h1>
    <div class="p-3 row col-12 justify-content-between">
        <div class="col-lg-5  col-md-12 card mt-md-3" >
            <img src="./../../assets/images/Untitled.png" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">HTML</h5>
              <p class="card-text">my first project by html and css</p>
              <a href="https://ramimenasa.github.io/ProjectHTMLCSS/" target="_blank" class="btn btn-primary">Go TO Project</a>
            </div>
          </div>
          
          <div class="col-lg-5  col-md-12 card mt-md-3" >
            <img src="./../../assets/images/Untitled1.png" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">BOOTSTRAB</h5>
              <p class="card-text">My seconde project using BOOTSTRAB</p>
              <a href="https://ramimenasa.github.io/Rwp/" target="_blank" class="btn btn-primary">Go TO Project</a>
            </div>
          </div>
    </div>
    
</div>